@import "respec.scss";

.post-item {
  .article-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: var(--f_high);
    margin-bottom: 0.5rem;

    span,
    time {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
    }

    .status {
      font-weight: bold;
      font-size: 0.8em;
      text-decoration: none;
    }

    .status {
      font-weight: bold;
    }
  }

  .date-label {
    padding: 1em 0;
  }

  .status-Final .status,
  .status-Living .status {
    display: none;
  }

  .status-Idea {
    color: #999;
  }
  .status-Draft {
    color: #d73a49;
  }

  .status-Review {
    color: #ef7e3a;
  }

  .status-LastCall {
    color: magenta;
  }

  .status-Withdrawn {
    text-decoration: line-through !important;
    color: #999;
  }
}

.type-label {
  font-family: monospace;
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  border-radius: 2em;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
  text-decoration: none !important;
}
