<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <main role="main">
      {{> nav}}
      <section>
        <h1>Architecture Decisions Records</h1>

        {{#each (sortAsc context.pages "adr") as |doc| }} {{#if doc.adr }}
        <a href="{{ doc.slug }}" class="post-item" title="{{ doc.title }}">
          <div class="article-title status-{{ doc.status }}">
            <span>ADR-{{ doc.adr }} - {{ doc.title }} <span class="status">{{doc.status}}</span></span>
            <time datetime="{{ isoDate doc.date }}">{{ prettyDate doc.date }}</time>
          </div>
        </a>
        {{/if}} {{/each}}
        <h1>Request for comments</h1>

        {{#each (sortAsc context.pages "rfc") as |doc| }} {{#if doc.rfc }}
        <a href="{{ doc.slug }}" class="post-item" title="{{ doc.title }}">
          <div class="article-title status-{{ doc.status }}">
            <span>RFC-{{ doc.rfc }} - {{ doc.title }} <span class="status">{{doc.status}}</span></span>
            <time datetime="{{ isoDate doc.date }}">{{ prettyDate doc.date }}</time>
          </div>
        </a>
        {{/if}} {{/each}} {{{ markdown content }}}
      </section>
    </main>
  </body>
</html>
